<form method="post" action="{{ path('app_confirm_covoiturage_delete', {'id': confirm_covoiturage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ confirm_covoiturage.id) }}">
    <button class="btn custom-btn">Refuse</button>
</form>
