{# templates/login/login.html.twig #}


{% block body %}
    <h2>Login</h2>
    {% if error %}
        <div>{{ error }}</div>
    {% endif %}

    <form method="post" action="{{ path('app_login') }}">
        <label for="_email">Email:</label>
        <input type="email" id="_email" name="_email" required />

        <label for="_password">Password:</label>
        <input type="password" id="_password" name="_password" required />

        <button type="submit">Login</button>
    </form>
{% endblock %}
