{% extends 'offre/index.html.twig' %}
{% block body %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="ons/fonts/icomoon/style.css">

    <link href='ons/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='ons/fullcalendar/packages/interaction/main.css' rel='stylesheet' />
    <link href='ons/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="ons/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="ons/css/style.css">

    <title>Calendrier #9</title>
</head>
<body>

<div class="content">
    <div id='calendar'></div>
</div>

<!-- Modal for Event Form -->
<div class="modal" id="eventModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter un Entretien</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="eventForm">
                    <div class="form-group">
                        <label for="eventNom">Nom du Candidat :</label>
                        <input type="text" class="form-control" id="eventNom" name="eventNom" required>
                    </div>
                    <div class="form-group">
                        <label for="eventEmail">Email :</label>
                        <input type="email" class="form-control" id="eventEmail" name="eventEmail" required>
                    </div>
                    <div class="form-group">
                        <label for="eventDate">Date de l'Entretien :</label>
                        <input type="date" class="form-control" id="eventDate" name="eventDate" required>
                    </div>
                    <div class="form-group">
                        <label for="eventHeure">Heure de l'Entretien :</label>
                        <select class="form-control" id="eventHeure" name="eventHeure" required>
                            <option value="9-10">9-10h</option>
                            <option value="10-11">10-11h</option>
                            <option value="11-12">11-12h</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Ajouter un Entretien</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="ons/js/jquery-3.3.1.min.js"></script>
<script src="ons/js/popper.min.js"></script>
<script src="ons/js/bootstrap.min.js"></script>

<script src='ons/fullcalendar/packages/core/main.js'></script>
<script src='ons/fullcalendar/packages/interaction/main.js'></script>
<script src='ons/fullcalendar/packages/daygrid/main.js'></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'interaction', 'dayGrid' ],
            defaultDate: '2020-02-12',
            editable: true,
            eventLimit: true, // allow "more" link when too many events,
            selectable: true, // enable user to select dates
            events: [],
            dateClick: function(info) {
                var dateStr = info.dateStr;
                $('#eventDate').val(dateStr); // Set the selected date in the form
                $('#eventModal').modal('show'); // Show the modal
            }
        });

        // Submit event form
        $('#eventForm').submit(function(e) {
            e.preventDefault();
            var nom = $('#eventNom').val();
            var email = $('#eventEmail').val();
            var date = $('#eventDate').val();
            var heure = $('#eventHeure').val();

            if (nom && email && date && heure) {
                calendar.addEvent({
                    title: nom,
                    start: date + 'T' + heure.split('-')[0] + ':00:00',
                    end: date + 'T' + heure.split('-')[1] + ':00:00',
                    allDay: false
                });
                $('#eventModal').modal('hide'); // Hide the modal
            }
        });

        calendar.render();
    });
</script>

<script src="ons/js/main.js"></script>
</body>
</html>
{% endblock %}
