
{% block title %}Edit Covoiturage{% endblock %}

{% block body %}
    <h1>Edit Covoiturage</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit">Save Changes</button>

    {{ form_end(form) }}

    <a href="{{ path('app_covoiturage_index') }}">Back to List</a>
{% endblock %}
