{% extends 'base.html.twig' %}
{% block div %}
    <h3>Create new Carpooling</h3>
{% endblock %}
{% block body %}

    {{ include('covoiturage/_form.html.twig') }}
    <a href="{{ path('app_covoiturage_index') }}">Back to List</a>
{% endblock %}









